In [1]:
import numpy as np          # type: ignore
import pandas as pd         # type: ignore

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>
<h1 align="center">üëâ <strong>index types</strong> üëà</h1>

<h1 align="center"><strong></strong></h1>
<div style="background-color:rgb(255, 255, 255) ; color:rgb(46, 40, 40); width: 100%; height: 50px; text-align: center; font-weight: bold; line-height: 50px; margin: 10px 0; font-size: 24px;">
1Ô∏è‚É£ parameter : index = []
</div>

In [2]:
List1 = [1,2,3,4]
idx   = ["a","b","c","d"]  

sr = pd.Series(List1,index=idx)    # sorting not important here
print(sr)
print("==============")
print(sr.index)

a    1
b    2
c    3
d    4
dtype: int64
==============
Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
dict1 = {'a':1,'b':2,'c':3,'d':4}
sr2   = pd.Series(dict1, index= ["a","c","b","d"])   # sorting not important here

print(sr2)
print("==============")
print(sr2.index)

a    1
c    3
b    2
d    4
dtype: int64
==============
Index(['a', 'c', 'b', 'd'], dtype='object')

In [4]:
print(sr2[['c', 'a', 'd']])
print("==============")

print(f"before : {sr2['b']}")
sr2['b'] = 6
print(f"After  : {sr2['b']}")

c    3
a    1
d    4
dtype: int64
==============
before : 2
After  : 6

> ## üëâ different between **list** & **dict**

In [5]:
## -------------------------- if index isn't in array ------------------------------
obj1 = pd.Series(List1, index=['a', 'b', 'x', 'y'])   # replace index 
print(obj1,"\n========")

obj2 = pd.Series(dict1, index=['a', 'b', 'x', 'y'] )  # Nan in dict
print(obj2)

a    1
b    2
x    3
y    4
dtype: int64
========
a    1.0
b    2.0
x    NaN
y    NaN
dtype: float64

In [6]:
## -------------------------- if less index or more index --------------------------
## list =>
# obj1 =pd.Series(List1, index=['a', 'b'])  
# print(obj1)       # error message

# obj1 =pd.Series(List1, index=['a', 'b', 'c', 'd','f'] )  
# print(obj1)       # error message
#######################
## dict1 =>
obj2 =pd.Series(dict1, index=['a', 'b'])  
print(obj2,"\n========")

obj2 =pd.Series(dict1, index=['a', 'b', 'c', 'd','f'] )  
print(obj2)         # f return NaN

a    1
b    2
dtype: int64
========
a    1.0
b    2.0
c    3.0
d    4.0
f    NaN
dtype: float64

<h1 align="center"><strong></strong></h1>
<div style="background-color:rgb(255, 255, 255) ; color:rgb(46, 40, 40); width: 100%; height: 50px; text-align: center; font-weight: bold; line-height: 50px; margin: 10px 0; font-size: 24px;">
2Ô∏è‚É£ function : index( [] )
</div>

In [7]:
x = pd.Index([2,3,5,7,11])      # making list
x

Index([2, 3, 5, 7, 11], dtype='int64')

In [8]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print("=============")
print(index[1:])

Index(['a', 'b', 'c'], dtype='object')
=============
Index(['b', 'c'], dtype='object')

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>
<h1 align="center">üëâ <strong>index methods and properties</strong> üëà</h1>

In [9]:
index1 = pd.Index([2, 4, 8, 50])
index2 = pd.Index(np.arange(10))

print(index1)
print("=============")
print(index2)

Index([2, 4, 8, 50], dtype='int64')
=============
Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int32')

### üëâ ``isin`` : Checking which elements of index_X are present in index_Y
### üëâ ``is_monotonic_increasing`` : This will check if the index is monotonically increasing

In [10]:
print(f"append               : {index1.append(index2)}")
print("=======================================")
print(f"diff                 : {index1.difference(index2)}")
print("=======================================")
print(f"intersection         : {index1.intersection(index2)}")
print("=======================================")
print(f"union                : {index1.union(index2)}")
print("=======================================")
print(f"isin                 : {index1.isin(index2)}") 
print("=======================================")
print(f"monotonic_increasing : {index1.is_monotonic_increasing}")
print("=======================================")
print(f"monotonic_increasing : {index2.is_monotonic_increasing}")
print("=======================================")
index1 = pd.Index([2,10,8,50])
print(f"monotonic_increasing : {index1.is_monotonic_increasing}")

append               : Index([2, 4, 8, 50, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')
=======================================
diff                 : Index([50], dtype='int64')
=======================================
intersection         : Index([2, 4, 8], dtype='int64')
=======================================
union                : Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50], dtype='int64')
=======================================
isin                 : [ True  True  True False]
=======================================
monotonic_increasing : True
=======================================
monotonic_increasing : True
=======================================
monotonic_increasing : False

In [11]:
## to insert :
# print(index1.insert(1,index2))    # error
################################
# --Insert elements of index1 into index2 at position 1
inserted_index = index2.copy()

# --Insert elements of index1 into inserted_index at position 1
for i, value in enumerate(index1):
    inserted_index = inserted_index.insert(1 + i, value)

print(f"Resulting index after insertion: \n{inserted_index}")

Resulting index after insertion:
Index([0, 2, 10, 8, 50, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int32')

In [12]:
# to drop :
print(index1)
print("========")
print(index1.drop(2))                   # drop(value)
print("========")
print(index1.delete(0))                 # delete(index of value)

Index([2, 10, 8, 50], dtype='int64')
========
Index([10, 8, 50], dtype='int64')
========
Index([10, 8, 50], dtype='int64')

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>
<h1 align="center">üëâ <strong>name indexes & Series</strong> üëà</h1>

In [13]:
sr.name = 'population'      # name series
sr.index.name = 'state'     # name index
sr

state
a    1
b    2
c    3
d    4
Name: population, dtype: int64

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>
<h1 align="center">üëâ <strong>Reindexing</strong> üëà</h1>

In [14]:
dic_list = {'state': ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
            'year' : [2003, 2001, 2002, 2001, 2002, 2000],
            'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

data=pd.DataFrame(dic_list,index=["d","c","b","f","e","a"])
data

    state  year  pop
d    Ohio  2003  1.5
c    Ohio  2001  1.7
b    Ohio  2002  3.6
f  Nevada  2001  2.4
e  Nevada  2002  2.9
a  Nevada  2000  3.2

In [15]:
data.reindex(["a","b","c","k","e","f"])

    state    year  pop
a  Nevada  2000.0  3.2
b    Ohio  2002.0  3.6
c    Ohio  2001.0  1.7
k     NaN     NaN  NaN
e  Nevada  2002.0  2.9
f  Nevada  2001.0  2.4

In [16]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
            index=['a', 'c', 'd'],
            columns=['Ohio', 'Texas', 'California'])

frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [17]:
frame.reindex(["d","c","b","a"],columns=["California","Ohio","Texas"])

   California  Ohio  Texas
d         8.0   6.0    7.0
c         5.0   3.0    4.0
b         NaN   NaN    NaN
a         2.0   0.0    1.0

<h1 align="center"><strong></strong></h1>
<div style="background-color:rgb(255, 255, 255) ; color:rgb(46, 40, 40); width: 100%; height: 50px; text-align: left; font-weight: bold; line-height: 50px; margin: 10px 0; font-size: 24px;">
~ reindex method :
</div>

* ### üëâ `ffill` >> forward  fill missing values
* ### üëâ `bfill` >> backward fill missing values
* ### üëâ `fill_value` >> use this argument by **num** or **str**

In [18]:
# ffill:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 4, 8])
obj3

0      blue
4    purple
8    yellow
dtype: object

In [19]:
obj3=obj3.reindex(np.arange(9),method="ffill") 
obj3

0      blue
1      blue
2      blue
3      blue
4    purple
5    purple
6    purple
7    purple
8    yellow
dtype: object

In [20]:
# bfill:
obj4 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 4, 8])
obj4

0      blue
4    purple
8    yellow
dtype: object

In [21]:
obj4 = obj4.reindex(np.arange(9),method="bfill") 
obj4

0      blue
1    purple
2    purple
3    purple
4    purple
5    yellow
6    yellow
7    yellow
8    yellow
dtype: object

In [22]:
# fill_value
print(index1,"\n========")
print(index2)

Index([2, 10, 8, 50], dtype='int64')
========
Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int32')

In [23]:
df = pd.DataFrame({'a': [1, 3, 5, 7]}, index=index1)
df

    a
2   1
10  3
8   5
50  7

In [24]:
df = df.reindex(index2, fill_value="nothing")
df

         a
0  nothing
1  nothing
2        1
3  nothing
4  nothing
5  nothing
6  nothing
7  nothing
8        5
9  nothing