In [1]:
import pandas as pd         # type: ignore

In [2]:
pop = { 'Nevada': {2001: 2.4, 2002: 2.9},
        'Ohio'  : {2000: 1.5, 2001: 1.7, 2002: 3.6}}
data=pd.DataFrame(pop)
data

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

## üîÄ **Sorting in Pandas**  

### üèÜ **1Ô∏è‚É£ Sorting by Values ‚Äì `sort_values()`**  
‚úîÔ∏è Sorts **data based on column values**  
‚úîÔ∏è Can be **ascending or descending**  

```python
df.sort_values(by="column_name", ascending=True)

In [3]:
data.sort_values(by="Ohio")

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [4]:
data.sort_values(by="Ohio",ascending=False)

      Nevada  Ohio
2002     2.9   3.6
2001     2.4   1.7
2000     NaN   1.5

### üìå **2Ô∏è‚É£ Sorting by Index ‚Äì `sort_index()`**
‚úîÔ∏è Sorts **rows based on index labels**    
‚úîÔ∏è **Useful for reordering data**
```python
df.sort_index(ascending=False)

In [5]:
print( data.sort_index(axis=0))     # sort row   "2000,2001,2002"
print("----------------")
print( data.sort_index(axis=1))     # sort col   "Nevada,Ohio"
print("----------------")
print( data.sort_index(axis=0).sort_index(axis=1))     # sort both

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
----------------
      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
----------------
      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>

## üèÖ **Ranking in Pandas ‚Äì `rank()`**  

üìå **What does it do?**  
`rank()` assigns a **ranking position** to each value in a column or Series. If values are **identical**, they receive the **same rank**, but the next rank continues sequentially.

üìå **Handling duplicate values**  
By default, duplicates get the **average rank** of their positions.

```python
df["ranked_column"] = df["column_name"].rank()
---------
```
üìå **Force Float Ranking**     
To ensure ranking is stored as a float (useful in certain cases):
```python
df["ranked_column"] = df["column_name"].rank().astype(float)
```

In [6]:
df= pd.DataFrame( { "Math":[80,90,67,80], 
                    "DS":[95, 70 ,88,50], 
                    "Physics":[55,90,80,70]}, index=[2030451, 2030455, 2030456, 2030458])

df.index.name="ID"
df

         Math  DS  Physics
ID
2030451    80  95       55
2030455    90  70       90
2030456    67  88       80
2030458    80  50       70

In [7]:
df["Math_r"]    = df["Math"].rank( ascending=False).astype(float)
df["DS_r"]      = df["DS"].rank( ascending=False).astype(int)
df["Physics_r"] = df["Physics"].rank( ascending=True).astype(int)

state = ["Math","Math_r","DS","DS_r","Physics","Physics_r"]
df_n = df.reindex(columns=state)
df_n

         Math  Math_r  DS  DS_r  Physics  Physics_r
ID
2030451    80     2.5  95     1       55          1
2030455    90     1.0  70     3       90          4
2030456    67     4.0  88     2       80          3
2030458    80     2.5  50     4       70          2