In [1]:
import pandas as pd         # type: ignore

# üìù Methods Similar to Python String Methods  

| **General**  | **Case Handling**  | **Searching**  | **Validation**  | **Splitting & Padding**  |
|-------------|------------------|---------------|----------------|-------------------------|
| `len()`     | `lower()`        | `find()`      | `isalnum()`    | `split()`              |
| `ljust()`   | `upper()`        | `rfind()`     | `isalpha()`    | `rsplit()`             |
| `rjust()`   | `capitalize()`   | `index()`     | `isdigit()`    | `partition()`          |
| `center()`  | `swapcase()`     | `rindex()`    | `isspace()`    | `rpartition()`         |
| `zfill()`   | `title()`        | `translate()` | `istitle()`    | `lstrip()`             |
| `strip()`   | `isupper()`      | `startswith()`| `islower()`    | `rstrip()`             |
| `rstrip()`  | `islower()`      | `endswith()`  | `isnumeric()`  |                         |

These are some of the most commonly used **string manipulation methods** in Python! üêç‚ú®

In [2]:
data = ['peter', 'Paul', 'MARY', '15' , '  ' ]
data = pd.Series(data)
print(data)
print("-----------------")
print(data.str.len())

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0    5
1    4
2    4
3    2
4    2
dtype: int64

In [3]:
print(data)
print("-----------------")
print(data.str.startswith('p'))                 # is it start with "p"
print("-----------------")
print(data.str.endswith('Y'))                   # is it end   with "r"

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0     True
1    False
2    False
3    False
4    False
dtype: bool
-----------------
0    False
1    False
2     True
3    False
4    False
dtype: bool

In [4]:
print(data)
print("-----------------")
print(data.str.find('t'))               # find this letter
print("-----------------")
print(data.str.rfind('A'))              # find it from right

# üëâ {-1} -> not exist

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0    2
1   -1
2   -1
3   -1
4   -1
dtype: int64
-----------------
0   -1
1   -1
2    1
3   -1
4   -1
dtype: int64

In [5]:
print(data)
print("-----------------")
print(data.str.rjust(20))               # adjust from right
print("-----------------")
print(data.str.ljust(12,"*"))           # adjust from left

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0                   peter
1                    Paul
2                    MARY
3                      15
4
dtype: object
-----------------
0    peter*******
1    Paul********
2    MARY********
3    15**********
4      **********
dtype: object

In [6]:
print(data)
print("-----------------")
print(data.str.center(10,"-"))              # make it center 
print("-----------------")
print(data.str.zfill(5))                    # fill zeros

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0    --peter---
1    ---Paul---
2    ---MARY---
3    ----15----
4    ----  ----
dtype: object
-----------------
0    peter
1    0Paul
2    0MARY
3    00015
4    000
dtype: object

In [7]:
print(data)
print("-----------------")
print(data.str.isupper())   # is it all capital ?
print("-----------------")
print(data.str.islower())   # is it al lower ?
print("-----------------")
print(data.str.istitle())   # is like like "This"

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0    False
1    False
2     True
3    False
4    False
dtype: bool
-----------------
0     True
1    False
2    False
3    False
4    False
dtype: bool
-----------------
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [8]:
print(data.str.isdigit())   # is it numbers ?
print("-----------------")
print(data.str.isspace())   # is it all spaces ?
print("-----------------")
print(data.str.isalpha())   # is it all letters ?
print("-----------------")
print(data.str.isalnum())   # is it not got any spaces ?

0    False
1    False
2    False
3     True
4    False
dtype: bool
-----------------
0    False
1    False
2    False
3    False
4     True
dtype: bool
-----------------
0     True
1     True
2     True
3    False
4    False
dtype: bool
-----------------
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [9]:
print(data)
print("-----------------")
print(data.str.isnumeric())      # is it number ?
print("-----------------")
print(data.str.isdecimal())      # is it decimals "float exist"?

0    peter
1     Paul
2     MARY
3       15
4
dtype: object
-----------------
0    False
1    False
2    False
3     True
4    False
dtype: bool
-----------------
0    False
1    False
2    False
3     True
4    False
dtype: bool

In [10]:
print(data.str.upper())          # make it capital
print("-----------------")
print(data.str.lower())          # make it lower
print("-----------------")
print(data.str.swapcase())       # switch capital & small
print("-----------------")
print(data.str.capitalize())     # make it like 'This'

0    PETER
1     PAUL
2     MARY
3       15
4
dtype: object
-----------------
0    peter
1     paul
2     mary
3       15
4
dtype: object
-----------------
0    PETER
1     pAUL
2     mary
3       15
4
dtype: object
-----------------
0    Peter
1     Paul
2     Mary
3       15
4
dtype: object

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>

# üîç Methods Using Regular Expressions in Pandas  

| **Method**   | **Description** |
|-------------|----------------|
| `match()`   | Calls `re.match()` on each element, returning a Boolean. |
| `extract()` | Calls `re.match()` on each element, returning matched groups as strings. |
| `findall()` | Calls `re.findall()` on each element. |
| `replace()` | Replaces occurrences of a pattern with another string. |
| `contains()`| Calls `re.search()` on each element, returning a Boolean. |
| `count()`   | Counts occurrences of a pattern. |
| `split()`   | Equivalent to `str.split()`, but accepts regex patterns. |
| `rsplit()`  | Equivalent to `str.rsplit()`, but accepts regex patterns. |

üìå **Note:** These Pandas string methods leverage Python's **`re`** module to handle **regular expressions** for advanced text processing! üöÄ‚ú®

In [11]:
data

0    peter
1     Paul
2     MARY
3       15
4
dtype: object

In [12]:
data.str.extract('([A-Ga-g]+)')     # extract letters from A to G

     0
0    e
1    a
2    A
3  NaN
4  NaN

- **"peter"** ‚Üí Contains `"a"` ‚úÖ  
- **"Paul"** ‚Üí Contains `"a"` ‚úÖ  
- **"MARY"** ‚Üí Contains `"A"` ‚úÖ  
- **"15"** ‚Üí No matching letters ‚ùå ‚Üí `NaN`  
- **Empty string** ‚Üí No match ‚ùå ‚Üí `NaN`

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>

### üîç Finding Names That Start and End with a Consonant

We use **regular expressions** with `findall()` to filter names that:  
‚úÖ **Start with a consonant** (not `'p'`)  
‚úÖ **End with a consonant** (not `'e'` or `'r'`)  

```python
data.str.findall(r'^[^p].*[^er]$')
```

#### **üìå Explanation of the Regex Pattern:**
| Pattern  | Meaning |
|----------|---------|
| `^`      | Start of the string |
| `[^p]`   | First character **is not** `'p'` |
| `.*`     | Any number of characters in between |
| `[^er]`  | Last character **is not** `'e'` or `'r'` |
| `$`      | End of the string |

In [13]:
data.str.findall(r'^[^p].*[^er]$')

0        []
1    [Paul]
2    [MARY]
3      [15]
4      [  ]
dtype: object

### **üí° Example Input & Output:**
#### **Original Data (`data`)**
```
0    Peter
1    Paul
2    Mary
3    Alex
4    John
5    Carol
dtype: object
```

#### **Filtered Matches (`data.str.findall(r'^[^p].*[^er]$')`)**
| Name  | Matches the Pattern? | Reason |
|-------|----------------------|--------|
| **Peter** ‚ùå | No | Starts with `'P'`, ends with `'r'` |
| **Paul** ‚ùå | No | Starts with `'P'` |
| **Mary** ‚úÖ | Yes | Starts with `'M'`, ends with `'y'` |
| **Alex** ‚úÖ | Yes | Starts with `'A'`, ends with `'x'` |
| **John** ‚úÖ | Yes | Starts with `'J'`, ends with `'n'` |
| **Carol** ‚úÖ | Yes | Starts with `'C'`, ends with `'l'` |