In [1]:
import pandas as pd                 # type: ignore

In [2]:
data = pd.read_csv("../../datasets/NYC Jobs.csv")
data = data[['Job ID','Civil Service Title','Agency','Posting Type','Job Category','Salary Range From','Salary Range To']]
data.head()

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health,84252.0,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,External,"Technology, Data & Innovation",82884.0,116391.0
2,520417,EXECUTIVE AGENCY COUNSEL,NYC HOUSING AUTHORITY,External,Legal Affairs,105000.0,125000.0
3,233549,CERTIFIED IT ADMINISTRATOR (LA,NYC EMPLOYEES RETIREMENT SYS,External,Information Technology & Telecommunications,87203.0,131623.0
4,510256,ASSOCIATE HUMAN RIGHTS SPECIAL,HUMAN RIGHTS COMMISSION,External,Constituent Services & Community Programs,58449.0,67216.0

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>

# **Understanding `apply()`, `map()`, and `applymap()` in Pandas**

## üìå **1. `apply()`**
### ‚úÖ Use case:
- Works on **rows or columns** of a `DataFrame`.
- Ideal for **aggregations and transformations**.
- Can be used for both `Series` and `DataFrame`.

### üîπ Example:
```python
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Applying a function to each column
result = df.apply(lambda x: x.sum(), axis=0)  # Column-wise sum
print(result)
```

---

## üìå **2. `map()`**
### ‚úÖ Use case:
- Works **only on Series**.
- Used to transform values **element-wise**.
- Useful for mapping values based on a function, dictionary, or another Series.

### üîπ Example:
```python
s = pd.Series([1, 2, 3, 4])

# Squaring each element
result = s.map(lambda x: x ** 2)
print(result)
```

---

## üìå **3. `applymap()` (Deprecated ‚ùå in Pandas 2.2.0)**
### üö® **Warning:**
> **`applymap()` is deprecated in Pandas 2.2.0 and later. Use `map()` instead.**

### ‚ùå Old approach (Deprecated):
```python
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Applying a function to each element (Deprecated)
result = df.applymap(lambda x: x ** 2)  # ‚ùå Warning in Pandas 2.2.0
print(result)
```
‚ö† **Warning Message:**
```plaintext
FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
```

### ‚úÖ New approach (Use `map()` instead):
```python
result = df.map(lambda x: x ** 2)  # ‚úÖ Correct in Pandas 2.2.0+
print(result)
```

---

## üî• **Key Differences Summary**
| Function  | Works on  | Level  | Use case  |
|-----------|----------|--------|-----------|
| `apply()` | Series & DataFrame | Column-wise or Row-wise | Transformations & Aggregations |
| `map()` | Series | Element-wise | Mapping & value transformation |
| ~~`applymap()`~~ ‚ùå | ~~DataFrame~~ | ~~Element-wise~~ | ~~Deprecated in Pandas 2.2.0~~ |

üöÄ **Conclusion:** Always use `apply()` for row/column operations and `map()` for element-wise transformations. `applymap()` is now deprecated, so replace it with `map()` when working with `DataFrame` elements.

<div style="width: 100%; height: 10px; background: linear-gradient(to right, orange, red, orange, red, orange); border-radius: 5px; margin: 20px 0;"></div>

<h1 align="center">üëâ <strong>apply</strong> üëà</h1>

### ‚úÖ Use case:
- Works on **rows or columns** of a `DataFrame`.
- Ideal for **aggregations and transformations**.
- Can be used for both `Series` and `DataFrame`.

In [3]:
data['Civil Service Title'] = data['Civil Service Title'].apply(lambda x: str(x).capitalize())
print(data['Civil Service Title'][:10])

0               Public health nurse
1           Cert it developer (app)
2          Executive agency counsel
3    Certified it administrator (la
4    Associate human rights special
5             Summer college intern
6           City research scientist
7             Recreation supervisor
8     Associate housing development
9    Research projects coor(ma)-mgr
Name: Civil Service Title, dtype: object

In [4]:
data["Salary Range From"][:10]

0     84252.0
1     82884.0
2    105000.0
3     87203.0
4     58449.0
5        15.0
6     94283.0
7     69000.0
8     95000.0
9     70000.0
Name: Salary Range From, dtype: float64

In [5]:
data["Salary Range From"].apply(lambda x:x/2)[:10]

0    42126.0
1    41442.0
2    52500.0
3    43601.5
4    29224.5
5        7.5
6    47141.5
7    34500.0
8    47500.0
9    35000.0
Name: Salary Range From, dtype: float64

In [6]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
# Applying a function to the entire Series
result = s.apply(lambda x: x ** 2)

print(result)

0     1
1     4
2     9
3    16
dtype: int64

In [8]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 7]  })
df

   A  B
0  1  4
1  2  5
2  3  7

In [9]:
# Applying a function along the columns
result = df.apply(lambda x: x.max() - x.min())
result

A    2
B    3
dtype: int64

In [10]:
def change_word(title):
    title = title.replace('NYC', 'x-o-xo')
    return title

data['Agency'].apply(change_word)[:10]      # map ‚úÖ

0      DEPT OF HEALTH/MENTAL HYGIENE
1    x-o-xo EMPLOYEES RETIREMENT SYS
2           x-o-xo HOUSING AUTHORITY
3    x-o-xo EMPLOYEES RETIREMENT SYS
4            HUMAN RIGHTS COMMISSION
5            DEPARTMENT OF BUILDINGS
6           DEPARTMENT OF CORRECTION
7         DEPT OF PARKS & RECREATION
8     HOUSING PRESERVATION & DVLPMNT
9     MAYORS OFFICE OF CONTRACT SVCS
Name: Agency, dtype: object

<h1 align="center">üëâ <strong>map</strong> üëà</h1>

### ‚úÖ Use case:
- Works **only on Series**.
- Used to transform values **element-wise**.
- Useful for mapping values based on a function, dictionary, or another Series.

In [11]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Applying a function to each element
result = df.map(lambda x: x ** 2)

print(result)

   A   B
0  1  16
1  4  25
2  9  36

In [12]:
def add_year(text):
    return str(text) + '_2022'

pd.DataFrame(data["Civil Service Title"]).map(add_year)

                      Civil Service Title
0                Public health nurse_2022
1            Cert it developer (app)_2022
2           Executive agency counsel_2022
3     Certified it administrator (la_2022
4     Associate human rights special_2022
...                                   ...
3768  Certified it administrator (la_2022
3769   Associate housing development_2022
3770             Senior it architect_2022
3771                       Economist_2022
3772         Agency attorney interne_2022

[3773 rows x 1 columns]

In [13]:
s = pd.Series(['cat', 'dog', 'NaN', 'rabbit'])
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [14]:
s.map({"cat":100,"dog":200})

0    100.0
1    200.0
2      NaN
3      NaN
dtype: float64

In [15]:
s = pd.Series(['cat', 'dog', 'rabbit'])

# Mapping values to a new set of values
result = s.map({'cat': 'kitten', 'dog': 'puppy', 'rabbit': 'bunny'})

print(result)

0    kitten
1     puppy
2     bunny
dtype: object

In [16]:
s = pd.Series([1, 2, 3, 4])

# Applying a function to each element
result = s.map(lambda x: x ** 2)

print(result)

0     1
1     4
2     9
3    16
dtype: int64

In [17]:
def change_word(title):
    title = title.replace('NYC', 'x-o-xo')
    return title

data['Agency'].map(change_word)[:10]

0      DEPT OF HEALTH/MENTAL HYGIENE
1    x-o-xo EMPLOYEES RETIREMENT SYS
2           x-o-xo HOUSING AUTHORITY
3    x-o-xo EMPLOYEES RETIREMENT SYS
4            HUMAN RIGHTS COMMISSION
5            DEPARTMENT OF BUILDINGS
6           DEPARTMENT OF CORRECTION
7         DEPT OF PARKS & RECREATION
8     HOUSING PRESERVATION & DVLPMNT
9     MAYORS OFFICE OF CONTRACT SVCS
Name: Agency, dtype: object